    html{
        
        background-color: #687fd4;
    }
    body{
        background-color: #795548;
    }
    h1{
        background-color: #ffeb3b
    }
        p{
            background-color: #f44336;
        }
        /*
        .nombre de la clase
        */
        
        .nombreClaseRojo{
            background-color: red;
        }
        .nombreClaseAzul{
            background-color: blue;
        }
        .nombreClaseAmarillo{
            background-color: yellow;
        }
        #parrafo2{
            background-color: white;
        }
        cualquiera{
            background-color: black;
        }